

name: Build_Test_Deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Use Node.js 24
      uses: actions/setup-node@v4
      with:
        node-version: 24
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Manually update the config.js file
      run: |
        echo "export const settings = { host='http://localhost:3030'};" > src/config.js

    - name: Start back-end
      run: npm run server

    - name: Start fron-end
      run: npm start

    - name: Install Playwright browsers
      run: npx playwright install

    - name: Execute Playwrigh tests
      run: npm run test

      
      
    

      
    
